<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>addStudentDetail</display-name>
	<servlet>
		<display-name>AddStudentDetails</display-name>
		<servlet-name>AddStudentDetails</servlet-name>
		<servlet-class>com.metacube.servlet.AddStudentDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudentDetails</servlet-name>
		<url-pattern>/AddStudentDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ShowStudentDetail</display-name>
		<servlet-name>ShowStudentDetail</servlet-name>
		<servlet-class>com.metacube.servlet.ShowStudentDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowStudentDetail</servlet-name>
		<url-pattern>/ShowStudentDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditStudent</display-name>
		<servlet-name>EditStudent</servlet-name>
		<servlet-class>com.metacube.servlet.EditStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStudent</servlet-name>
		<url-pattern>/EditStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UpdateStudentDetail</display-name>
		<servlet-name>UpdateStudentDetail</servlet-name>
		<servlet-class>com.metacube.servlet.UpdateStudentDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStudentDetail</servlet-name>
		<url-pattern>/UpdateStudentDetail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>SearchStudent</display-name>
		<servlet-name>SearchStudent</servlet-name>
		<servlet-class>com.metacube.servlet.SearchStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchStudent</servlet-name>
		<url-pattern>/SearchStudent</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>